﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo Cliente</title>
</head>
<body>
    <div class="container login-container">
        <div class="col-md-6 login-form-2">
            <h3>Novo Cadastro:</h3>
            @using (Html.BeginForm("Incluir", "Clientes", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="Nome" class="control-label">Nome</label>
                    <input id="Nome" class="form-control" placeholder="Digite seu nome completo" type="text"
                           data-error="Por favor, informe seu nome completo." required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="Telefone" class="control-label">Telefone</label>
                    <input id="Telefone" class="form-control" placeholder="Informe o seu telefone" type="tel"
                           data-error="Por favor, informe um telefone válido." required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    <input id="Email" class="form-control" placeholder="Digite seu E-mail" type="email"
                           data-error="Por favor, informe um e-mail válido." required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Incluir" />
                </div>
            }
            </div>    
    </div>
</body>
</html>
