﻿@model BlueModas.Models.Pedidos
@{
    ViewBag.Title = "Blue Modas";
}

<div style="margin-top:40px">
    <table class="table-responsive">
        <tr>
            <th class="col-md-8">
                Nome
            </th>
            <th class="col-lg-2">
                E-mail
            </th>
            <th>
                Telefone
            </th>
        </tr>
        <tr>
            <th class="col-md-8">
                @Html.DisplayFor(model => model.cliente.Nome)
            </th>
            <th class="col-lg-2">
                @Html.DisplayFor(model => model.cliente.e_mail)
            </th>
            <th>
                @Html.DisplayFor(model => model.cliente.telefone)
            </th>
        </tr>

        <tr>
            <th class="col-md-8">
                Produto
            </th>
            <th class="col-lg-2">
                Quantidade
            </th>
            <th>
                Valor total
            </th>
        </tr>
        @foreach (var item in Model.Produtos)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Nome)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Qtde)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.PrecoTotal)</b>
                </td>
            </tr>
        }
        <tr>
            <td colspan="3" class="right"></td>
        </tr>
    </table>
</div>
